.container_seating {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  svg {
    width: calc(var(--index) * 1);
    height: calc(var(--index) * 1);

    path {
      fill: var(--color-link);
    }

    &:hover {
      path {
        fill: var(--color-link-hover);
      }
    }
  }
}

.container_modal_setting {
  background-color: red;
  width: 90vw;
  height: 90vh;
}
