.container_todo {
  display: flex;

  .title_todo {
    margin-top: calc(var(--index) * .9);
    margin-left: calc(var(--index) * .9);
    padding-right: 435px;
    background-color: red;
  }
  .title_todo.completed {
    text-decoration: line-through;
  }

}

