.container-calendar {
  display: flex;
  flex-direction: column;
  .info-calendar {
    display: flex;

    div {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  .calendar-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
    padding: 1rem;

    div {
      display: flex;
      justify-content: center;
      min-height: calc(var(--index) * 2);
      min-width: calc(var(--index) * 2);
      max-width: calc(var(--index) * 8);
      max-height: calc(var(--index) * 8);
      border-radius: 4px;
      cursor: pointer;
      background-color: red;
      div {
        background-color: green;
      }

      &:hover {
        background-color: #ddd;
      }
    }
  }
}

