.modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__content {
    position: absolute;
    outline: none;
  }
}

.onBlur {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0009;
  z-index: 2;
}

.avatar-menu-position {
  right: 46px;
  top: 43px;
}

.history-menu-position {
  left: 518px;
  top: 35px;

  @media (max-width: 1650px) {
    left: 384px;
  }

  @media (max-width: 1080px) {
    left: 175px;
  }

  @media (max-width: 900px) {
    left: 20px;
  }
}

.room-menu-position {
  left: 16px;
  top: 95px;
}

.date-button-position {
  left: 55%;
  margin-right: -50%;
  transform: translate(-7%, -50%);
}

.sidebar-more-menu-position {
  left: 13px;
  top: 250px;
}

.add-center-position {
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.add-chanel-position {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bookmark-menu-position {
  top: 130px;
}

.filter-popup-position {
  height: 100%;
  padding: 28px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.set-status-popup-position {
  height: 100%;
  padding: 28px 0;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-header-position {
  left: 50%;
  top: 3px;
  transform: translate(-50%, 0);
}

.preferences-modal-position {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.add-bookmark-menu-position {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


.center-modal-position {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
