*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'AbhayaLibre';
  src: url('./fonts/AbhayaLibre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AbhayaLibre';
  src: url('./fonts/AbhayaLibre-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AbhayaLibre';
  src: url('./fonts/AbhayaLibre-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AbhayaLibre';
  src: url('./fonts/AbhayaLibre-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AbhayaLibre';
  src: url('./fonts/AbhayaLibre-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


:root {
  --hue: 223;
  --index: calc(1vw + 1vh);
  --background: rgba(33, 33, 52, 0.02);
  --color-background-block: rgb(50, 50, 77);
  --color-text: rgb(201, 201, 218);
  --color-link: rgb(0, 0, 0);
  --color-link-hover: rgb(52, 52, 66);
  --color-link-block: rgb(165, 165, 186);
  --color-link-hover-block: rgb(165, 165, 186);
  --color-background-buttom-hover: rgb(24, 24, 38);
  /*
background: rgb(24, 24, 38); ховер бутом блок
    Стілі для застосунку
  */
  --margin-glock-top: calc(var(--index) * 0.25);
  --background-block: #bbbbbb;
  --background-button: rgb(241, 0, 56);
  --background-button-hover: #bb0606;
  --color-text-block: white;
  --color-text-active: rgb(201, 201, 218);
  --hover-text: #4cceac;
  --hover-text-blocl: #4cceac;
  --border: rgb(83, 83, 121);
  --border-block: rgb(74, 74, 106);
  --color-svg: rgb(74, 74, 106);
  --color-svg-button: rgb(255, 255, 255);
}

[data-theme='dark'] {
  --index: calc(1vw + 1vh);
  --background: rgb(24, 24, 38);
  --color-background-block: rgb(50, 50, 77);
  --color-text: rgb(255, 255, 255);
  --color-link: rgb(255, 255, 255);
  --color-link-hover: #4cceac;
  --color-link-block: rgb(165, 165, 186);
  --color-link-hover-block: rgb(165, 165, 186);
  --color-background-buttom-hover: rgb(24, 24, 38);
  /*
  Стілі для застосунку
*/

  --background-block: rgb(33, 33, 52);
  --background-button: #d20404;
  --background-button-hover: #bb0606;
  --color-text-block: rgb(225, 217, 217);
  --color-text-active: rgb(238, 86, 86);
  --hover-text: rgb(231, 181, 181);
  --hover-text-blocl: #4cceac;
  --bprder: rgb(50, 50, 77);
  --border-block: rgb(74, 74, 106);
  --color-svg: rgb(201, 201, 218);
  --color-svg-button: rgb(239, 231, 231);
}


body {
  background-color: var(--background);
  color: var(--color-text);
  font-size: calc(var(--index) * .85);
  line-height: calc(var(--index) * .8);
  font-family: 'AbhayaLibre', sans-serif;
  font-weight: 400;
}

ul,
li,
a {
  font-family: 'AbhayaLibre', sans-serif;
  font-weight: 400;
  color: var(--color-link);
  text-decoration: none;
  transition: background-color 0.4s ease-in-out;
  list-style: none;
  line-height: calc(var(--index) * 1);
}

ul:hover,
li:hover,
a:hover {
  transition: background-color 0.4s ease-in-out;
  color: var(--color-link-hover);
  cursor: pointer;
}

button {
  font-family: 'AbhayaLibre', sans-serif;
  font-weight: 400;
  font-size: calc(var(--index) * .65);
  border: none;
  background-color: transparent;
  color: var(--color-link);

  &:hover {
    cursor: pointer;
    color: var(--color-link-hover);
  }
}

.row {
  margin-right: calc(var(--index) * .5);
  margin-left: calc(var(--index) * .5);
}

.container-app {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;

  .right-container {
    margin-top: calc(var(--index) * .5);
    flex-grow: 1;
    overflow: auto;
  }

  .left-container {
    margin-top: calc(var(--index) * .5);
    position: relative;
    overflow: auto;
  }
}
